<form th:object="${route}" th:action="${editMode} ?@{/app_busgeomap/edit_route} :@{/app_busgeomap/route}" method="post" autocomplete="off" role="form" id="frm"> <!--enctype="multipart/form-data" -->
    <h3 class="mb-3">Datos de la Ruta</h3>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div hidden="none" class="form-group form-group-default" >
                <label>ID DOCUMENT</label>
                <input th:value="${route.rou_id}" th:field="${route.rou_id}" id="Name" type="text" class="form-control"> <!--th:if="${editMode}"-->
            </div>
            <div class="form-group form-group-default">
                <label>Ruta</label>
                <input th:value="${route.rou_name}" th:field="${route.rou_name}" id="Name" type="text" class="form-control" placeholder="&#128653; Descripcion de la ruta">
            </div>
            <div class="form-group form-group-default">
                <label>Lugar de Partida</label>
                <select th:value="${route.rou_place_starting}" th:field="${route.rou_place_starting}" class="form-control" onchange="verificar(this)">
                    <option th:each="p:${iPlace}" th:value="${p.pla_id}" th:text="${p.pla_name} + ' - ' + ${p.pla_description}" id="selectPrincipal"></option>
                </select>
            </div>
            <div class="form-group form-group-default">
                <label>Lugar de Destino</label>
                <select th:value="${route.rou_place_destination}" th:field="${route.rou_place_destination}" class="form-control" id="formGroupDefaultSelect">
                    <option th:each="p:${iPlace}" th:value="${p.pla_id}" th:text="${p.pla_name} + ' - ' + ${p.pla_description}" id="option"></option>
                </select>
            </div>

            <div class="div-boton check-personal" th:if="${editMode}" th:aria-hidden="${editMode}">
                <input name="" type="checkbox" th:checked="${route.rou_status}" th:value="${route.rou_status}" th:field="${route.rou_status}" id="userEstado"/> Estado (Activo)...
            </div>
            </br>
        </div>
    </div>
    
    <div th:if="${formErrorMessage}" th:text="${formErrorMessage}" class="alert alert-danger" role="alert">Erro Lugares</div>
    
    <div class="card-body" style="text-align: right; padding-right: 50px;">
        
        <button class="btn-bgm btn-bgm-clear" type="button" th:if="${editMode}" th:aria-hidden="${editMode}">
            <a th:href="@{'/app_busgeomap/route'}" style="text-decoration-line: none; text-decoration: none;color: rgb(90, 95, 97);">
                <i class="fas fa-minus-circle icons-bgm-space ico-bgm-clear"></i>Cancelar
            </a>
        </button>
        <button class="btn-bgm btn-bgm-save" type="submit">
            <i class="fab fa-telegram-plane icons-bgm-space ico-bgm-save"></i>Guardar
            <!-- <p ></p> -->
        </button>
    </div>
</form>

<script type="text/javascript">
    var primer = document.getElementById('selectPrincipal');
    var segunda = document.getElementById('option');
    function  verificar(s1) {
        if (primer.value == s1) {
            segunda.hidden = true;
        }
    }

</script>