<div class="table-responsive list-role">
    <table id="schList" class="table">
        <thead class="thead-light">
            <tr>
                <th class="table-colum">Disco</th>
                <th>Ruta (Origen-Destino)</th>
                <th>Fecha || Hora Salida</th>
                <th>Estado</th>
                <th style="width: 10%">Acción</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="col">Disco</th>
                <th scope="col">Ruta (Origen-Destino)</th>
                <th scope="col">Fecha || Hora</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
            </tr>
        </tfoot>
       <tbody>
            <tr th:each="sche: ${schList}">
                <td th:text="${sche.sch_asb_id_number_disc}"> </td>
                <td th:text="${sche.sch_rou_id_name}"></td>
                <td th:text="${#calendars.format(sche.sch_registration_date, 'dd/MM/yyyy || HH:mm')}"></td>
                <td th:text="${sche.sch_state}"></td>
                <td>
                    <div class="form-button-action">
                        <a href="#editar" class="btn btn-link btn-info" data-original-title="Actualizar"> <!--th:href="@{'/app_busgeomap/edit_schedule/'+ ${sche.sch_id}}" -->
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#eliminar" class="btn btn-link btn-danger" data-toggle="tooltip" title="" data-original-title="Eliminar"> <!--th:onclick="confirmDelete([[${sche.sch_id}]])" -->
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>                                                    
</div>

<script type="text/javascript">
    function confirmDelete(id){
        $('#deleteModal').modal('show');
        $("#userIdHiddenInput").val(id);
    }
    
    function deleteRoute(){
        var id = $("#userIdHiddenInput").val();
        window.location = "delete_schedule/"+id;
    }
</script>