<div class="user">
    <div class="avatar-sm float-left mr-2">
        <img th:src="@{/img/image/photo/2400189375-Foto.jpg}" src="../static/img/image/photo/2400189375-Foto.jpg" alt="..." class="avatar-img rounded-circle">
    </div>
    <div class="info">
        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
            <span>
                Geovanny AlEx Rs
                <span class="user-level">Administrator</span>
                <span class="caret"></span>
            </span>
        </a>
        <div class="clearfix"></div>

        <div class="collapse in" id="collapseExample">
            <ul class="nav">
                <li>
                    <a href="#profile">
                        <span class="link-collapse">Mi Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="#edit">
                        <span class="link-collapse">Editar Perfil</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<ul class="nav nav-primary">
    
    <li class="nav-section">
        <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
        </span>
        <h4 class="text-section">Servicios</h4>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/navegation}">
            <i class="fas fa-map-marker-alt icons-bgm-space"></i>
            <p>Navegación</p>
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/travel}">
            <i class="fas fa-calendar icons-bgm-space"></i>
            <p>Horarios de viaje</p>
        </a>
    </li>
    <!--li class="nav-item">
        <a href="#forms">
            <i class="fas fa-comments icons-bgm-space"></i>
            <p>Mensajes</p>
        </a>
    </li-->
</ul>

<ul class="nav nav-primary">
    
    <li class="nav-section">
        <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
        </span>
        <h4 class="text-section">Cooperativa</h4>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/role}">
            <i class="fas fa-user-secret icons-bgm-space"></i>
            <p>Roles</p>
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/users}">
            <i class="fa fa-user icons-bgm-space"></i>
            <p>Usuarios</p>
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/bus}">
            <i class="fas fa-bus icons-bgm-space"></i>
            <p>Transporte</p>
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/assigne_bus}">
            <i class="fas fa-address-card icons-bgm-space"></i>
            <p>Asignar Ocupantes</p>
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/codeqr}">
            <i class="fas fa-qrcode icons-bgm-space"></i>
            <p>Generar Code QR</p>
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/schedule}">
            <i class="fas fa-calendar-alt icons-bgm-space"></i>
            <p>Planificación</p>
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/route}">
            <i class="fas fa-location-arrow icons-bgm-space"></i>
            <p>Rutas</p>
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/place}">
            <i class="fas fa-map-marker-alt icons-bgm-space"></i>
            <p>Lugares/Paradas</p>
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{/app_busgeomap/report}">
            <i class="fas fa-chart-line icons-bgm-space"></i>
            <p>Reportes</p>
        </a>
    </li>
</ul>