<div class="table-responsive list-role">
    <table id="busList" class="table">
        <thead class="thead-light">
            <tr>
                <th class="table-colum">Disco</th>
                <th>Marca/Modelo</th>
                <th>Capacidad</th>
                <th>Propietario</th>
                <th style="width: 10%">Acción</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="col">Disco</th>
                <th scope="col">Marca/Modelo</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Propietario</th>
                <th scope="col">Acción</th>
            </tr>
        </tfoot>
       <tbody>
            <tr th:each="bus: ${busList}">
                <td th:text="${bus.bus_number_disc}"> </td>
                <td th:text="${bus.bus_make} + ' ' + ${bus.bus_model}"></td>
                <td th:text="${bus.bus_size}"></td>
                <td th:text="${bus.bus_propietor_id}"></td>
                <td>
                    <div class="form-button-action">
                        <a href="#editar" th:href="@{'/app_busgeomap/edit_bus/'+ ${bus.bus_id}}" class="btn btn-link btn-info" data-original-title="Actualizar"> 
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#eliminar" th:onclick="confirmDelete([[${bus.bus_id}]])" class="btn btn-link btn-danger" data-toggle="tooltip" title="" data-original-title="Eliminar">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>                                                    
</div>

<script type="text/javascript">
    function confirmDelete(id){
        $('#deleteModal').modal('show');
        $("#userIdHiddenInput").val(id);
    }
    
    function deleteBus(){
        var id = $("#userIdHiddenInput").val();
        window.location = "delete_bus/"+id;
    }
</script>