<form th:action="${editMode} ?@{/app_busgeomap/edit_role} :@{/app_busgeomap/role}" method="post" th:object="${rol}" id="frm" role="form" autocomplete="off">
    <div class="col-md-6 col-lg-6" >
  
      <h3 class="mb-3">Ingrese un nuevo rol</h3>
      
      <div class="form-group form-group-default">
        <label>ID Document</label>
        <input th:value="${rol.id_rol}" th:field="${rol.id_rol}" type="text" th:disabled="${disableFields}" class="form-control" placeholder="&#128100; Documento Role"/>
        <!--div class="alert-danger" th:if="${#fields.hasErrors('id_rol')}" th:errors="*{id_rol}">Error de Rol</div-->
      </div>
  
      <div class="form-group form-group-default">
        <label>Role - Perfil</label>
        <input th:value="${rol.rol_name}" th:field="${rol.rol_name}" type="text" th:disabled="${disableFields}" class="form-control" placeholder="&#128100; Nombre del rol"/>
        <!--div class="alert-danger" th:if="${#fields.hasErrors('rol_name')}" th:errors="*{rol_name}">Error de Rol</div-->
      </div>
  
      <div class="form-group form-group-default">
        <label>Descripción</label>
        <input th:value="${rol.rol_description}" th:field="${rol.rol_description}" type="text" th:disabled="${disableFields}" class="form-control" placeholder="&#128100; Descripción del rol"/>
        <!--div class="alert-danger" th:if="${#fields.hasErrors('rol_description')}" th:errors="*{rol_description}">Error de Rol</div-->
      </div>
  
      <div class="div-boton check-personal">
        <input name="" type="checkbox" th:checked="${rol.rol_status}" th:value="${rol.rol_status}" th:field="${rol.rol_status}" id="roleEstado"/> Estado (Activo)
    </div>

      <div class="card-body" style="text-align: center;">
        <button class="btn-bgm btn-bgm-save" type="submit">
            <i class="fab fa-telegram-plane icons-bgm-space ico-bgm-save"></i>Guardar
        </button>
      </div>  
      
    </div>
  </form> 