<div class="table-responsive list-role">
    <table id="userList" class="table">
        <thead class="thead-light">
            <tr>
                <th class="table-colum">ID Document</th>
                <th class="col">Role</th>
                <th class="descrip" scope="col">Descripción</th>
                <th scope="col" hidden>Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="col">ID Document</th>
                <th scope="col">Role</th>
                <th class="descrip" scope="col">Descripción</th>
                <th scope="col" hidden>Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
            </tr>
        </tfoot>
        <tbody>
            <tr th:each="roles: ${userList}">
                <th th:text="${roles.id_rol}" scope="row"></th>
                <th th:text="${roles.rol_name}" scope="row"></th>
                <td th:text="${roles.rol_description}" class="descrip"></td>
                <td th:text="${roles.timestamp}" hidden></td>
                <td th:text="${roles.rol_status}"></td>
                <td style="text-align: center;">
                    <a href="#editar" th:href="@{'/app_busgeomap/edit_role/'+ ${roles.id_rol}}" class="btn btn-link btn-info" data-toggle="tooltip" data-original-title="Actualizar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="#eliminar" th:onclick="confirmDelete([[${roles.id_rol}]])" class="btn btn-link btn-danger" data-toggle="tooltip" title="" data-original-title="Eliminar">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="deleteError" th:if="${deleteError}" class="alert alert-danger text-center" role="alert">
        <span th:text="${deleteError}"></span>
    </div>
</div> 

  <script type="text/javascript">
    function confirmDelete(id){
        $('#deleteModal').modal('show');
        $("#userIdHiddenInput").val(id);
    }
    
    function deleteRole(){
        var id = $("#userIdHiddenInput").val();
        window.location = "delete_role/"+id;
    }
    </script>